################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PDFReader
/PDFReader/bin/Debug/net8.0
/PDFReader/obj
/PDFReader/Properties
/PDFReader/PDFReader.csproj.user
